*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables de color */ 

:root{
    --azulClaro:#3860EC;
    --azulOscuro:#162c7c;
}
/*Header y nav, título y botones accesibles*/
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.625rem;
    width: 80%;
    background-color: var(--azulOscuro);
    background-image: linear-gradient(blue, cyan);
}
nav, ul, li{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 0.625rem;
    width: 60%;
    padding-left: 13%;
    background-color: var(--azulOscuro);
    background-image: linear-gradient(blue, cyan);
}
button{
    padding:0.25rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vh;
    height: 5vh;

}
.doing :hover{
    color: var(--azulClaro);
}
/*Main que abarca el texto, la imágen y el botón de texto. Más el botón de descarga*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    padding-bottom: 8.75rem;
    background-color: black;
    background-image: linear-gradient(black, gray);
}
.meme{
    height: auto;
    width: 40%;
    background-color: cyan  ;
    text-align: center;
    font-size: 2.1875rem;
    font-weight: bold;
}
.top-text, .bottom{
    height: auto;
    width: 100%;
    padding: 5%;
}
.image-center{
    height: auto;
    width: 100%;
    padding: 30%;
    background-color: black;
}
.effects{
    width: 20%;
    height: 125vh;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 100%;
    overflow: auto; 
    position: fixed;
    z-index: 0;
    background-color: var(--azulOscuro);
    background-image: linear-gradient(blue, cyan);
    margin-top: 7.1875rem;
}

.dowland{
    display: flex;
    flex-direction: column;
    padding-top: 60%;
    margin-left:-22.5rem;
    padding-bottom: 13%;
}
.get-it{
    padding:0.25rem;
    margin: 1.25rem; 
    font-size: 1.25rem;
    background-color: green;
    color: white;
    height: 30%;
}
.get-it :hover{
    background-color: var(--azulClaro);
}
/* Estilos del formulario */
.left, .center, .right{
    width: 2.5rem;
}
.aligned{
    display: flex;
    justify-content: space-between;
}
.colours{
    display: flex;
}
.outline{
    display: flex;
}
.space{
    display: flex;
    width: 100%;
}
.inter{
    display: flex;
    width: 100%;
}


/* Clase funcional para add y remove del js: */
.ocultar{
    visibility: hidden;
}



/* Estilos de letra del input Fuente. */

.arial{
    font-family: Arial;
}
.arial-black{
    font-family:'Arial Narrow Bold';
}
.monospace{
    font-family: monospace;
}
.curier-new{
    font-family: 'Courier New';
}
.helvetica{
    font-family: Helvetica;
}
.impact{
    font-family: Impact;
}
.verdana{
    font-family: Verdana;
}
.times-new-roman{
    font-family:'Times New Roman';
}
