*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(8, 180, 248);
}


/* Variables de color */ 

:root{
    --azulClaro:#3860EC;
    --azulOscuro:#162c7c;
}
/*Header y nav, título y botones accesibles*/
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.625rem;
    width: 100%;
    background-color: var(--azulOscuro);
    background-image: linear-gradient(blue, cyan);
}


 @media(max-width: 360px) and (min-height: 640px){
    .all{
        display: contents;
    }
}

.title-memes{
    padding-right: 17%;
}

@media(max-width: 360px) and (min-height: 640px){
    .title-memes{
        font-size: 32px;
        display: flex;
        justify-content: center;
    }
}


nav, ul, li{
    display: flex;
    flex-direction:row;
    padding: 0.625rem;
    width: 60%;
    margin: 10px 10px 20px 95px;
    background-color: var(--azulOscuro);
    background-image: linear-gradient(blue, cyan);
}

@media(max-width: 1300px){
    nav ul li{
         margin: 10px 0px 20px 95px;
    }
}

button{
    padding:0.25rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45vh;
    height: 5vh;
    cursor: pointer;
}

.button :hover{
    background-color: black;
    color: white;
}

@media(max-width: 1150px){
    .list-bottom{
        margin: initial;
    }
}

@media(max-width: 700px){
    .list-bottom{
        margin: 1px 1px 1px -86px;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .list-bottom{
        margin: 0px 0px 0px -200px;
        font-size: 20px;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .list-bottom{
        margin: 0px 0px 0px -45px;
        display: inline-table;
    }
}

 .doing{
    width: 6.5rem; 
    height: 2.5rem; 
} 

@media(max-width: 950px){
    .doing{
        margin: 0px 0px 0px -50px;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .doing{
        width: 75px;
    }
}

/* Probando el close X */
/*  .close{
    width: 10%;
    display: flex;
    background-color: var(--azulClaro);
    color: cyan;
    margin-left: 90%;
    border: 2px solid cyan;
    border-radius: 10px;
}  */

/*Main que abarca el texto, la imágen y el botón de texto. Más el botón de descarga*/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    padding-bottom: 8.75rem;
    background-color: black;
    background-image: linear-gradient(black, gray);
}

@media(max-width: 360px) and (min-height: 640px){
    main{
        width: 100%;
    }
}
.meme{
    height: auto;
    width: 40%;
    background-color: cyan  ;
    text-align: center;
    font-size: 2.1875rem;
    font-weight: bold;
    margin-left: 1.25rem;
}

@media(max-width: 700px){
    .meme{
        width: 60%;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .meme{
        width: 90%;
        margin-right: 15%;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .meme{
        margin-right: auto;
    }
}

.top-text, .bottom{
    height: auto;
    width: 100%;
    padding: 5%;
}

@media(max-width: 700px){
    .input-top-text{
        width: 155px;
    }
}

@media(max-width: 700px){
    .input-bottom-text{
        width: 155px;
    }
}

@media(max-width: 700px){
    .input{
        width: 50%;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .top-text{
        font-size: 30px;
    }
}

.image-center{
    height: auto;
    width: 100%;
    padding: 30%;
    background-color: black;
}

@media(max-width: 360px) and (min-height: 640px){
    .image-center{
        width: 100%;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .bottom{
        font-size: 30px;
    }
}

.effects{
    width: 20%;
    height: 138vh;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
 /*    justify-content: flex-start; */
    margin-left: 100%;
    overflow: auto; 
    position: fixed;
    z-index: 0;
    background-color: var(--azulOscuro);
    background-image: linear-gradient(blue, cyan);
    /* margin-top: 7.1875rem;  */
}

@media(max-width: 700px){
    .effects{
        width: 25%;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .effects{
        display: block;
        width: inherit;
        height: 177vh;
        margin-left: auto;
        padding: 20%;
    }
}



@media(max-width: 1150px){
    .image-mode{
        font-size: 11px;
    }
}

@media(max-width: 1150px){
    .text-mode{
        font-size: 12px;
        font-weight: bold;
    }
}

@media(max-width: 950px){
    .image-mode{
        font-size: 11px;
    }
}

@media(max-width: 700px){
    .text-mode{
        font-size: 11px;
    }
}

@media(max-width: 700px){
    .image{
        width: 155px;
    }
}


.close{
    display: flex;
    position: fixed;
    top: 43px;
    right: 2px;
    cursor: pointer;
    /* border: black; */
    border-radius: 17px;
    width: 2.5rem;  
    margin-left: 90%;
    /* background-color: var(--azulOscuro); */
/*     color: white; */
}

@media(max-width: 1550px){
    .close{
        display: none;
    }
}


@media(max-width: 360px) and (min-height: 640px){
    .close{
        display: block;
    }
}

.dowland{
    display: flex;
    flex-direction: column;
    margin-left:-25rem;
    margin-top: 65%;
    padding-bottom: 13%;
}

@media(max-width: 1550px){
    .dowland{
        margin-left: -30rem;
    }
}
.get-it{
    padding:0.25rem;
    margin: 1.25rem; 
    font-size: 1.25rem;
    background-color: green;
    color: white;
    height: 30%;
}

@media(max-width: 1400px){
    .get-it{
        margin-left: 3.5rem;
    }
}

@media(max-width: 1300px){
    .get-it{
        margin-left: 5.5rem;
    }
}

@media(max-width: 1150px){
    .get-it{
        margin-left: 8.5rem;
    }
}

@media(max-width: 950px){
    .get-it{
        margin-left: 12rem;
    }
}

@media(max-width: 700px){
    .get-it{
        margin-top: 130px;
    }
}

@media(max-height: 740px){
    .get-it{
        margin-left: 9rem;
    }
}

@media(max-width: 360px) and (min-height: 640px){
    .get-it{
        margin-top: 250px;
    }
}



.get-it :hover{
    background-color: var(--azulClaro);
}

.container-image{
     position: absolute;
    top: 0;
    right: 0;
} 

@media(max-width: 950px){
    .container-image{
        width: -webkit-fill-available;
    }
}

@media(max-width: 700px){
    .container-image{
        width: -webkit-fill-available;
    }
}
/* 
@media(max-width: 360px) and (min-height: 640px){
    .container-image{
        display: block;
    }
} */

/* @media(max-width: 360px) and (min-height: 640px){
    .container-text{
        display: block;
    }
}
 */

/* Estilos del formulario */
.left, .center, .right{
    width: 2.5rem;
}
.aligned{
    display: flex;
    justify-content: space-between;
}

@media(max-width: 700px){
    .aligned{
        width: min-content;
    }
}

.colours{
    display: flex;
}
.outline{
    display: flex;
}

@media(max-width: 700px){
    .outline{
        width: 30%;
    }
}

.space{
    display: flex;
    width: 100%;
}

@media(max-width: 700px){
    .space{
        width: 155px;
    }
}

.inter{
    display: flex;
    width: 100%;
}

@media(max-width: 700px){
    .inter{
        width: 155px;
    }
}


/* Clase funcional para add y remove del js: */
.ocultar{
    visibility: hidden;
    font-family: cursive;
}



/* Estilos de letra del input Fuente. */

.arial{
    font-family: Arial;
}
.arial-black{
    font-family:'Arial Narrow Bold';
}
.monospace{
    font-family: monospace;
}
.curier-new{
    font-family: 'Courier New';
}
.helvetica{
    font-family: Helvetica;
}
.impact{
    font-family: Impact;
}
.verdana{
    font-family: Verdana;
}
.times-new-roman{
    font-family:'Times New Roman';
}
.cursive{
    font-family: cursive;
}

@media(max-width: 1150px){
    .input{
        width: 50%;
    }
}

/* Modo oscuro */
body.darkmode{
    background-color: rgb(32, 32, 44);
    color: white;
}

.darkmode header{
    background-color: rgb(12,12,22);
    color: white;
}

.darkmode button{
    color: #00FEFD;
    background-color: var(--azulOscuro);
}

.darkmode button:hover{
    background-color: white;
    color: black;
}




